body{
	background-color: pink;
	
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
	font-family: 'Lora', serif;
}
h1{
	font-size: 30pt;
	font-family: 'Lora', serif;
}
ol{
	list-style: decimal inside; 
	font-family: 'Lora', serif;
	
}
ul {
	list-style: disc inside;
	text-indent: 20px;
	font-family: 'Lora', serif;
	
}
/* Specfic Elements*/
div#container {
	margin: auto;
	width: 60%;
	/*text-align: center;*/
}

div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 70%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
	width: 40%;
}
.center {
	margin:auto;

}
.gemImage{
	height: 60px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}